@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f7eb;
  text-align: center;
}
h1 {
  color: #e94f37;
  font-size: 7vmin;
  font-weight: 800;
  font-family: "poppins";
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  font-size: 8vmin;
  color: #e94f37;
  background-color: #393e41;
  background-image: linear-gradient(
    45deg,
    #4caf50,
    #2196f3
  ); /* Gradient background */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 1;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
}

.box:active {
  transform: scale(0.9);
}

.box span {
  display: block;
  position: relative;
  z-index: 2;
}

#reset {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #0c1821;
  color: white;
  border-radius: 1rem;
  border: none;
}
#new-btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #0c1821;
  color: white;
  border-radius: 1rem;
  border: none;
}
#msg {
  color: #5c415d;
  font-size: 7vmin;
  font-weight: 800;
  font-family: "poppins";
}
.msg-container {
  height: 90vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.hide {
  display: none;
}
